# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Курсы GeekBrains. 2020\Клиент-серверные приложения на Python\Урок-1\Урок 1. Практическое задание\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
